DB_PASSWORD=******* #Replace with your database password
DB_USER=******* #Replace with your database user (Probably "root")
DB_NAME=******* #Replace with your database name
DB_PORT=******* #Replace with your database port (likely 3306 if using mariadb)

SCRIPT_PATH=./Kartverket-group2/run-migrations.bat

DB_SERVICE_NAME=db

EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=kevinggundersen@gmail.com
EMAIL_PASSWORD=hekd iaok wuqq mppb
EMAIL_FROM_ADDRESS=kevinggundersen@gmail.com

#Rename file to ".env"