html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#map-container {
    position: fixed;
    top: 56px; /* Adjust this value to match navbar height */
    left: 0;
    right: 0;
    bottom: 50px; /* Adjust this value to match footer height */
    z-index: 1;
}

#map {
    height: 100%;
    width: 100%;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Adjust to match your footer height */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


.leaflet-popup-content button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.navbar {
    z-index: 4000;
}

/*Zoom buttons*/
.custom-zoom-control {
    position: fixed;

    z-index: 1000;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    top: 66px;
    left: 10px;

}

.custom-zoom-control button {
    background: #fff;
    color: #28A745;
    border: none;
    padding: 5px;
    padding-left: 16.33px;
    padding-right: 16.33px;
    cursor: pointer;
    font-size: 18px;
}

#zoom-in {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid black;
    border-top: 2px solid rgba(0,0,0,0.2);
}
#zoom-out {
    border-radius: 0px 0px 5px 5px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.custom-zoom-control button:hover {
    background: #f0f0f0;
}

/*Overlay on page load*/
#startupoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#welcometext {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgb(26, 131, 59);
    border-radius: 10px;
}

/*Close overlay button*/
#overlaybutton {
    width: 100px;
    height: 35px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    #overlaybutton:hover {
        background-color: #2EE59D;
        color: white;
    }

/*List of shapes*/
#shapes-list-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    z-index: 1000;
    min-width: 270px;
    max-width: 270px;
    overflow-y: auto;
    bottom: 70px; /* Adjust this value to position above the footer */
    max-height: calc(80vh - 126px); /* Subtract navbar and footer heights */
}

#shapes-list {
    padding: 10px 0;
}

#shapes-list li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


#shapes-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

#shapes-list-header h4 {
    margin: 0;
}

#toggle-shapes-list {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
    color: #28A745;
}

#shapes-list-scroll {
    max-height: 500px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
}

#shapes-list-scroll.collapsed {
    max-height: 0;
    overflow: hidden;
}

.shapes-list-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.shapes-list-comment {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 5px 0;
}

.shapes-list-button {
    margin-right: 5px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .shapes-list-ul {
        font-size: 16px; /* Increase base font size */
    }

    .shapes-list-item {
        padding: 15px;
        margin-bottom: 15px;
    }

    .shapes-list-type {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .shapes-list-comment {
        font-size: 16px;
        line-height: 1.4;
        margin: 10px 0;
    }

    .shapes-list-timestamp {
        font-size: 16px;
    }

    .shapes-list-buttons {
        margin-top: 10px;
    }

    .shapes-list-button {
        font-size: 16px;
        padding: 8px 12px;
        margin-right: 10px;
    }

    .shapes-list-empty {
        font-size: 18px;
        padding: 15px;
    }
}

/*Button when choosing shape to draw*/
.shape-button {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: left;
    height: 20px;
}

#markershapebutton {
    background-color: rgb(255, 131, 59);
}

#circleshapebutton {
    background-color: rgb(200, 50, 59);
}

#polylineshapebutton {
    background-color: blue;
}

#polygonshapebutton {
    background-color: green;
}



/*Icons*/
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


/*Custom comment window*/
.comment-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.modal-buttons button {
    padding: 10px 20px;
    
    border-radius: 5px;
    border: none;
}
#submit-comment {
    background-color: #28A745;
    color: white;
}
#cancel-comment {
    background-color: red;
    color: white;
}

#comment-input {
    border-radius: 5px;
}

.userLocIcon {
    text-align: center;
    line-height: 20px;
    text-shadow: 0 0 5px #000;
}

/*Styling for the search icon*/
.leaflet-control-geocoder {
    position: fixed !important;
    top: 60px;
    right: 10px;
    z-index: 1000;
}

/*Loading icon when searching user location*/
.leaflet-control-locate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}
.leaflet-bar a, .leaflet-bar a:hover {
    color: #28A745 !important;
}

.locate-button {
    width: 34px;
    height: 34px;
    background-color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.locate-button:hover {
    background-color: #f4f4f4;
}

.loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.loading-indicator i {
    font-size: 16px;
    color: #555;
}

.leaflet-control-locate a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-touch .leaflet-control-locate a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#submit-form-data {
    position: fixed;
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9000;
    bottom: 70px; /* Adjust to position above footer */
    left: 290px;
}

#submit-form-data:hover {
    background-color: #23923d;
}

.wrapped-popup .leaflet-popup-content {
    max-width: 200px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/*Line between left and right aligned items in navbar when collapsed for smaller screens*/
@media (max-width: 575.98px) {
    .navbar-divider {
        border-top: 1px solid #dee2e6;
        width: 100%;
    }
}

.save-shape-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.save-shape-button:hover {
    background-color: #45a049;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .save-shape-button {
        bottom: 70px; /* Move the button up to avoid overlap */
        left: 10px;
        margin-right: 10px;
        padding: 12px 18px; /* Slightly larger touch target */
        font-size: 16px; /* Larger font size for better readability */
    }

    #map-container {
        margin-top: -8px; /* Use all availible space, as navbar is smaller */
    }
}
@media screen and (max-width: 516px) {
    .leaflet-control-locate {
        bottom: 50px; /* Move above the save button */
        right: 10px;
    }

    .locate-button {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 468px) {
    .leaflet-control-locate {
        bottom: 70px; /* Move above the save button */
        right: 10px;
    }
}
@media screen and (max-width: 432px) {
    .leaflet-control-locate {
        bottom: 90px; /* Move above the save button */
        right: 10px;
    }

}
@media screen and (max-width: 392px) {

    #shapes-list-container {
        left: 0;
        right: 0;
        width: 100%;
        min-width: 1px;
        max-width: 100%;
        bottom: 70px; /* Adjust if needed to fit above the footer */
    }

    .save-shape-button {
        left: 0;
        right: 0;
        width: 100%;
        bottom: 70px; /* Position it just above the footer */
        margin: 0;
        border-radius: 0;
    }

    .leaflet-control-locate {
        bottom: calc(75px + 50px); /* Adjust based on the height of the save button plus some spacing */
        right: 10px;
    }

    #submit-form-data {
        left: 0;
        width: 100%;
        bottom: 70px; /* Position it just above the footer */
    }
    #submit-form-data {
        position: fixed;
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 9000;
        bottom: 70px; /* Adjust to position above footer */
        left: 10px; /* Align with the shapes list container */
        right: 10px; /* Extend to the right edge */
        width: calc(100% - 20px); /* Full width minus left and right padding */
    }
    #shapes-list-container {
        bottom: calc(70px + 50px); /* Adjust based on the height of the save button plus some spacing */
    }
}


/* Button and poput for switching map layers*/
.custom-layer-control {
    position: absolute;
    top: 85px;
    right: -0px;
    z-index: 1000;

}

/* Adjust the size of the control */
.custom-layer-control.leaflet-control-layers {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border: none !important;
    overflow: hidden;
}

.custom-fa-icon .leaflet-control-layers-toggle {
    width: 45px;
    height: 45px;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.custom-fa-icon .leaflet-control-layers-toggle i {
    font-size: 25px;
    color: #28a745;
}


/* Style the expanded layer control */
.custom-layer-control.leaflet-control-layers-expanded {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

/* Style the list of layers */
.custom-layer-control .leaflet-control-layers-list {
    margin: 0;
    padding: 0;
}

/* Remove list circles and style list items */
.custom-layer-control .leaflet-control-layers-base label,
.custom-layer-control .leaflet-control-layers-overlays label {
    display: block;
    padding: 8px 10px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hide the default radio buttons and checkboxes */
.custom-layer-control input[type="radio"],
.custom-layer-control input[type="checkbox"] {
    display: none;
}

/* Hover effect for list items */
.custom-layer-control .leaflet-control-layers-base label:hover,
.custom-layer-control .leaflet-control-layers-overlays label:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

/* Style for selected item */
.custom-layer-control input:checked + span {
    font-weight: bold;
}

/* Background color for selected item */
.custom-layer-control input:checked + span {
    border-radius: 5px;
    background-color: #28A745; /* Light blue background for selected item */
    color: white;
    display: block;
    padding: 8px 10px;
    margin: -8px -10px; /* Compensate for parent padding */
}

/* Remove separator */
.custom-layer-control .leaflet-control-layers-separator {
    display: none;
}

.Kartgrunnlagheader {
    font-size: 20px;
}