@{
    ViewData["Title"] = "Hjelp";
}
<html>
<head>
    <title>@ViewData["Title"]</title>
    </head>
<h1>Hjelp</h1>
<h2>How to use the map to report an error</h2>

<p>Click on the area to correct and select a shape that is appropriate, write any comments and we will fix the
    error as soon as possible.</p>
