@{
    ViewData["Title"] = "Hjelp";
}
<html>
<head>

</head>
<body>
<h1>@ViewData["Title"]</h1>
<h2>How do I report an error on the map?</h2>
<p>Go to "kart" and click on the area with the error, mark a point, circle, line or create the required shape. Tell us what is wrong and then submit the error.
     We will fix it as soon as possible
</p>
</body>
</html>