@{
    ViewData["Title"] = "Rett i kartet";
}
<!-- Overlay when loading page -->
<div id="startupoverlay" class="startupoverlay">
    <div id="welcometext" class="welcometext">
        <h1>Trykk på kartet for å starte</h1>
        <button id="overlaybutton">Skjønner!</button>
    </div>
</div>

<!-- Form for storing shape data for http post -->
<form id="shapeForm" asp-action="SaveShapes" asp-controller="Administration" method="post">
    <input type="hidden" name="shapeData" id="shapeData" />
    <button type="submit" id="submit-form-data" class="save-shape-button">Lagre endringer</button>
</form>

<!-- List of shapes user has drawn -->
<div id="shapes-list-container">
    <div id="shapes-list-header">
        <h4>Mine kommentarer:</h4>
        <button id="toggle-shapes-list">
            <i class="fa-solid fa-chevron-down"></i>
        </button>
    </div>
    <div id="shapes-list-scroll">
        <div id="shapes-list"></div>
    </div>
</div>

<!-- Map container -->
<div id="map-container">
    <!-- Custom Zoom Control -->
    <div class="custom-zoom-control">
        <button id="zoom-in">+</button>
        <button id="zoom-out">-</button>
    </div>
    <!-- The map itself -->
    <div id="map"></div>
</div>

<!-- Modal for adding a comment -->
<div id="comment-modal" class="comment-modal" style="display: none;">
    <div class="modal-content">
        <h3>Legg til en beskrivelse</h3>
        <textarea id="comment-input" rows="4" placeholder="Skriv beskrivelsen din her..."></textarea>
        <div class="modal-buttons">
            <button id="cancel-comment">Kanslerer</button>
            <button id="submit-comment">Send</button>
        </div>
    </div>
</div>