@{
    ViewData["Title"] = "Registrer";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <style>
        #login {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .register-container {
            background-color: white;
            padding: 2rem;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input {
            margin: 0.5rem 0;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #submit-button {
            margin-top: 1rem;
            padding: 0.5rem;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        #submit-button:hover {
            background-color: #23923d;
        }
        .login-link {
            margin-top: 1rem;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="position:fixed; display: flex; height: 95.3%; width: 100%; right: 0; left: 0; top: 0%; bottom: 4.7%;  z-index: -1; background-color: black; opacity: 0.5;"></div>
    <img src="~/Images/kart-bakgrunn.png" alt="Kartbilde" style="position:fixed; display: flex; height: 95%; width: 100%; right: 0; left: 0; top: 0%; bottom: 5%;  z-index: -2;" />
    <div class="login">
        <div class="register-container">
            <h2>Registrer</h2>
            <form>
                <input type="email" placeholder="Epost" required>
                <input type="text" placeholder="Brukernavn" required>
                <input type="password" placeholder="Passord" required>
                <input type="password" placeholder="Gjenta passord" required>
                <button type="submit" id="submit-button">Registrer</button>
            </form>
            <div class="login-link">
                <p>Har du allerede bruker? <a href="Login">Logg inn her</a></p>
            </div>
        </div>
    </div>
</body>